@import "tailwindcss";

:root {
  --background: #fefdfc;
  --foreground: #362817;
  --primary: #6100ea;
  --secondary: #d30100;
  --accent: #afe901;
  --text-light: #fefdfc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-text-light: var(--text-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fefdfc;
    --foreground: #362817;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), "Segoe UI", sans-serif;
}
